:root {
    --current-cell-bg: #005bbb;
    --normal-cell-bg: #cfcfcf;
    --exclusive-cell-bg: #6d12b7;
    --required-cell-bg: #FFC72C;
    --opt-cell-bg: #b5b5b5;
    --opt-cell-abg: #b5b5b53c;
}

#table-container, 
#flowsheet-descr, 
header,
hr, 
footer {
    width: 90%;
    margin: auto;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


table {
    table-layout: fixed;
}


.cell {
    position: relative;
    width: 10%;
    padding: 5px;
}

.cell p {
    margin: 5px 0 0;
}

.cell:not([data-is-empty]):hover {
    cursor: pointer;
}

.inner-cell-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell-text {
    width: 70%;
    font-size: 10px;
}

.left-cell-icon, .right-cell-icon, .about-cell-icon {
    visibility: hidden;
    position: absolute;
    top: 40%;
    right: 5%;
}

.about-cell-icon {
    top: 15%;
}

.desc-icon, .cell[data-dependent] .right-cell-icon, .cell[data-current] .about-cell-icon {
    filter: invert(1);
}

.cell[data-required] .left-cell-icon, .cell[data-dependent] .right-cell-icon, .cell[data-current] .about-cell-icon {
    visibility: visible;
}

.flowsheet-header-cell {
    color: white;
    background: rgb(88, 88, 88);
}
.credit-header-cell {
    padding: 1em;
    color: white;
    border: solid 1px rgb(127, 127, 127);
    background: rgb(88, 88, 88);
    text-align: center;
}

#credit-table {
    margin: 15px 0;
}

.credit-cell {
    color: rgb(88, 88, 88);
    padding: 10px;
    border:solid 1px rgb(88, 88, 88);
}

.cell[data-subject-id] {
    background: var(--normal-cell-bg);
}


.cell[data-current='true']:not([data-is-training]), #desc-current {
    background: var(--current-cell-bg);
    color: white;
}

.cell[data-current='true'][data-is-training], #desc-training {
    background: var(--exclusive-cell-bg);
    color: white;
}

.cell[data-is-training] {
    background: var(--opt-cell-abg);
    border: solid 2px #d3d3d3;
}

.cell[data-dependent='true'], #desc-dependent {
    background: #002F56;
    color: white;
}

.cell[data-required='true'], #desc-req {
    background: var(--required-cell-bg);
    color: black;
}

/* Group of optional cells */
.cell[data-is-optional-sibling='true'], #desc-optional {
    outline: dashed 3px var(--current-cell-bg);
}

/* Optional groups of cells which are not selected or referred to  */
.cell[data-optional-id]:not([data-is-optional-sibling='true']):not([data-dependent='true']):not([data-required='true']):not([data-current='true']) {
    background: var(--opt-cell-bg);
}

#credit-table {
    width: 100%;
}

#flowsheet-descr {
    display: flex;
}

.descr-span {
    display: flex;
    align-items: center;
    background: var(--opt-cell-abg);
    width: fit-content;
    margin: 5px;
    padding: 15px;
}

.desc-icon {
    width: 15px;
    margin: 0 10px;
    padding-top: 5px;
}

.no-invert-desc-icon {
    filter: invert(0);
}

#desc-optional {
    background: var(--opt-cell-bg);
}

.cell-subjectCode {
    margin-bottom: 105px;
}

#header-select-main {
    margin: 0 20px 10px;
    border-radius: 5px;
    padding: 0.5em;
}

.header-input {
    background-color: white;
    outline: none;
    border: solid 1px black;
}

#header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reset-hold {
    padding: 10px;
}



#spec-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

#table-status {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

#table-status * {
    margin: 2px;
}


footer {
    text-align: center;
}