:root {
    --current-cell-bg: #005bbb;
    --normal-cell-bg: #cfcfcf;
    --exclusive-cell-bg: #6d12b7;
    --required-cell-bg: #FFC72C;
    --opt-cell-bg: #b5b5b5;
    --opt-cell-abg: #b5b5b53c;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#table-container, 
#flowsheet-descr, 
header,
hr, 
footer {
    width: 90%;
    margin: auto;
    font-size: small;
}


table {
    table-layout: fixed;
}


.cell {
    position: relative;
    width: 10%;
    padding: 5px;
}

.cell p {
    margin: 5px 0 0;
}

.cell:not([data-is-empty]):hover {
    cursor: pointer;
}

.inner-cell-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell-text {
    width: 70%;
    font-size: 10px;
}

.left-cell-icon, .right-cell-icon, .about-cell-icon {
    visibility: hidden;
    position: absolute;
    top: 40%;
    right: 5%;
}

.about-cell-icon {
    top: 15%;
}

.desc-icon, .cell[data-dependent] .right-cell-icon, .cell[data-current] .about-cell-icon {
    filter: invert(1);
}

.cell[data-required] .left-cell-icon, .cell[data-dependent] .right-cell-icon, .cell[data-current] .about-cell-icon {
    visibility: visible;
}

.flowsheet-header-cell {
    color: white;
    background: rgb(88, 88, 88);
}
.credit-header-cell {
    padding: 1em;
    color: white;
    border: solid 1px rgb(127, 127, 127);
    background: rgb(88, 88, 88);
    text-align: center;
}

#credit-table {
    margin: 15px 0;
    width: 100%;
}

.credit-cell {
    color: rgb(88, 88, 88);
    padding: 10px;
    border:solid 1px rgb(88, 88, 88);
}

.cell[data-subject-id] {
    background: var(--normal-cell-bg);
}


.cell[data-current='true']:not([data-is-training]), #desc-current, #current-indicator {
    background: var(--current-cell-bg);
    color: white;
}

.cell[data-current='true'][data-is-training], #desc-training, #training-indicator {
    background: var(--exclusive-cell-bg);
    color: white;
}

.cell[data-is-training] {
    background: var(--opt-cell-abg);
    border: solid 2px #d3d3d3;
}

.cell[data-dependent='true'], #desc-dependent, #dependent-indicator {
    background: #002F56;
    color: white;
}

.cell[data-required='true'], #desc-req, #req-indicator {
    background: var(--required-cell-bg);
    color: black;
}

.circle-indicator {
    display: none;
}

/* Group of optional cells */
.cell[data-is-optional-sibling='true'], #desc-optional, #optional-indicator {
    outline: dashed 3px var(--current-cell-bg);
}

/* Optional groups of cells which are not selected or referred to  */
.cell[data-optional-id]:not([data-is-optional-sibling='true']):not([data-dependent='true']):not([data-required='true']):not([data-current='true']) {
    background: var(--opt-cell-bg);
}

#flowsheet-descr {
    display: flex;
}

.descr-div {
    display: flex;
    align-items: center;
    background: var(--opt-cell-abg);
    width: fit-content;
    margin: 5px;
    padding: 15px;
}

.desc-icon {
    width: 15px;
    margin: 0 10px;
    padding-top: 5px;
}

.no-invert-desc-icon {
    filter: invert(0);
}

#desc-optional, #optional-indicator {
    background: var(--opt-cell-bg);
}

.cell-subjectCode {
    margin-bottom: 105px;
}

#header-select-main {
    margin: 0 20px 10px;
    border-radius: 5px;
    padding: 0.5em;
}

.header-input {
    background-color: white;
    outline: none;
    border: solid 1px black;
}

#header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reset-hold {
    padding: 10px;
}



#spec-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

#table-status {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

#table-status * {
    margin: 2px;
}


footer {
    text-align: center;
}

/* future light dark mode */
/* #light-dark-toggle {
    display: flex;
    align-items: center;
    width: 20px;
    margin: 5px;
    padding: 15px;
}

#light-dark-toggle-icon {
    filter: invert(13%) sepia(53%) saturate(1050%) hue-rotate(185deg) brightness(96%) contrast(88%);
} */


#subject-info-container {
    display: none;
    justify-content: end;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000049;
}

#subject-info-white {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 40%;
    height: 100%;
    background: white;
}

#subject-info-main {
    width: 90%;
    align-self: flex-start;
    flex-wrap: wrap;
    padding: 0 0 0 2em;
}

#subject-info-main h1 {
    margin: 0;
    font-size: xx-large;
}

#subject-info-icon-container {
    display: flex;
    align-items: center;
    width: 20px;
    margin: 5px;
    padding: 20px 30px;
}

#subject-info-icon {
    width: 15px;
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(275deg) brightness(103%) contrast(7%);
} 

#subject-info-type {
    text-transform: capitalize;
    font-weight: bolder;
}

#footer-line {
    width: 70%;
    height: 1px;
    background: #eeeeee;
    border: none;
    margin-top: 3em;
}

.cell-credit-hours {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.column * {
    margin: 0 0 0.5em 0;
}

@media (max-width:880px) {
    #table-container {
        width: unset;
    }

    #credit-table {
        width: max-content;
    }

    #flowsheet-descr {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #desc-dependent, #desc-current, #desc-req, #desc-training, #desc-optional {
        background-color: transparent;
        color: black;
        font-size: larger;
        outline: none;
    }

    .circle-indicator {
        display: block;
        height: 30px;
        width: 30px;
        background-color: black;
        border-radius: 50%;
        margin-right: 20px;
    }

    .desc-icon {
        filter: none;
    }
    .descr-div {
        padding: 0;
    }
}